<link rel="stylesheet" href="~/Content/sertifikasi.css" />


<div id="data-list">
    <!--data-list  harus sama dg yg di javascript jquery--->

</div>
<!--j query untuk nampilkan listnya-->

<div class="modal fade modal-pelamar" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">modal title</h3>
        </div>
        <div class="modal-body">
            <p>one fine body&hellip;</p>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




